.custom-hover-nv:hover svg {
    transform: rotate(270deg);
    transition: transform 0.3s ease;
    /*Optional: Add a smooth transition effect */;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.section-heading h3 b::after{
        content: "";
        display: block;
        width: 24px;
        height: 2px;
        background: #D83333;
        position: absolute;
        bottom: 0.5px;
        right: 0;
}